<div class="row">
  <div class="col-xs-6">
    <h1>Obserwacje</h1>
  </div>
  <div class="col-xs-6 h1">
    {{#link-to "obserwacje.nowa" class="pull-right btn btn-primary"}}
      Nowa obserwacja
    {{/link-to}}
    </div>
</div>
{{outlet}}